- name: Install docker's requirements
  become: true
  apt:
    pkg:
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg-agent
    - software-properties-common
    update_cache: yes
    state: latest

- name: Add docker apt key
  become: true
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Add docker to /etc/apt/sources.list.d
  become: true
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu bionic stable
    filename: docker
    mode: 0644
    update_cache: yes
    state: present

- name: Install docker-ce
  become: true
  apt:
    name: docker-ce
    update_cache: yes
    state: present

- name: Create docker group
  become: true
  group:
    name: docker
    state: present

- name: Add user to docker group
  become: true
  user:
    name: "{{ ansible_user }}"
    group: docker
    append: yes
